<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
        <style>
            .spinner-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 1050;
                display: none;
            }
        </style>
</head>

<body>

    <main>
        <div class="container">
            <div id="spinner">
                <div class="spinner-overlay d-flex justify-content-center align-items-center">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="assets/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">
                                        <%=pageName %> Student
                                    </span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>
                                    </div>

                                    <form class="row g-3 needs-validation" novalidate>

                                        <div class="col-12">
                                            <label for="yourAccNo" class="form-label">Account No</label>
                                            <input type="text" name="firstName" class="form-control"
                                                value="<%=data.accNo %>" id="yourAccNo" required>
                                            <div class="invalid-feedback">Please, enter your Account No!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourFirstName" class="form-label">Your first Name</label>
                                            <input type="text" value="<%=data.sfirstName %>" name="firstName"
                                                class="form-control" id="yourFirstName" required>
                                            <div class="invalid-feedback">Please, enter your first name!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourLastName" class="form-label">Your Last Name</label>
                                            <input type="text" value="<%=data.lastName %>" name="lastName"
                                                class="form-control" id="yourLastName" required>
                                            <div class="invalid-feedback">Please, enter your last name!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourEmail" class="form-label">Your Email</label>
                                            <input type="email" value="<%=data.email %>" name="email"
                                                class="form-control" id="yourEmail" required>
                                            <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPhoneNo" class="form-label">Your Phone Number</label>
                                            <input type="text" value="<%=data.phoneNo %>" name="phoneNo"
                                                class="form-control" id="yourPhoneNo" required>
                                            <div class="invalid-feedback">Please, enter your phone number!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourWarden" class="form-label">Warden</label>
                                            <select class="form-select" id="yourWarden" value="<%=data.wardenId %>">
                                                <% for(var i=0; i< wardenList.length; i++) { %>
                                                    <option value="<%=wardenList[i].id %>">
                                                        <%= wardenList[i].firstName %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourblock" class="form-label">block</label>
                                            <select class="form-select" onchange="updateSecondDropdown()" id="yourblock"
                                                value="<%=data.blockId %>">
                                                <option>Select block</option>
                                                <% for(var i=0; i< blockList.length; i++) { %>
                                                    <option value="<%=blockList[i].id %>">
                                                        <%= blockList[i].name %>
                                                    </option>
                                                    <% } %>

                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourRoom" class="form-label">Room</label>
                                            <select class="form-select" value="<%=data.roomId %>" id="yourRoom">
                                                <option>First select block and then select</option>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourDepartment" class="form-label">Department</label>
                                            <select class="form-select" id="yourDepartment"
                                                value="<%=data.departmentId %>">
                                                <option>Select department</option>
                                                <% for(var i=0; i< deptList.length; i++) { %>
                                                    <option value="<%=deptList[i].id %>">
                                                        <%=deptList[i].deptName %>
                                                    </option>

                                                    <% } %>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <label for="yourNative" class="form-label">Native</label>
                                            <input type="text" value="<%=data.native %>" name="native"
                                                class="form-control" id="yourNative" required>
                                        </div>
                                        <div class="col-12">
                                            <img src="/uploads/<%= data.studProfile%>" style="border-radius: 50%;"
                                                alt="Profile" class="w-50 p-3">
                                            <input type="file" value="<%=data.studProfile %>" name="profile"
                                                class="form-control" id="studPicture" required>
                                            <div class="invalid-feedback">Choose your Profile Picture</div>
                                        </div>
                                        <div class="pt-5">
                                            <div class="alert alert-danger" id="error">
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-evenly">

                                            <button class="btn btn-primary" onclick="addOrEditStudent()"
                                                type="button">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                Designed by <a>Leo</a>

                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>

        const editStudentRoom = '<%=data.roomId %>'

        const error = document.getElementById('error')
        error.style.display = 'none'


        const accDom = document.getElementById('yourAccNo');
        const fnameDom = document.getElementById('yourFirstName');
        const lnameDom = document.getElementById('yourLastName');
        const emailIdDom = document.getElementById('yourEmail');
        const profileDom = document.getElementById('studPicture');
        const roomDom = document.getElementById('yourRoom');
        const blockDom = document.getElementById('yourblock');
        const phoneNoDom = document.getElementById('yourPhoneNo');
        const nativeDom = document.getElementById('yourNative')
        const wardenDom = document.getElementById('yourWarden')
        const deptDom = document.getElementById('yourDepartment')

        const mainUrl = '<%= mainUrl %>'

        document.getElementById('spinner').style.display = 'none';

        async function updateSecondDropdown() {

            const roomRes = await fetch(`${mainUrl}/api/room/block/${blockDom.value}`)
            const roomList = await roomRes.json();

            var roomCode = ''
            for (var i = 0; i < roomList.length; i++) {
                if(roomList[i].isActive === 1) {
                roomCode = roomCode + `<option value="${roomList[i].id}">${roomList[i].roomNo}</option>`
                }
            }
            roomDom.innerHTML = roomCode;
        }

        function addOrEditStudent() {
            const myHeaders = new Headers();

            const formdata = new FormData();
            formdata.append("accNo", accDom.value);
            formdata.append("studProfile", profileDom.files[0], profileDom.value);
            formdata.append("firstName", fnameDom.value);
            formdata.append("lastName", lnameDom.value);
            formdata.append("wardenId", wardenDom.value);
            formdata.append("blockId", blockDom.value);
            formdata.append("roomId", roomDom.value);
            formdata.append("departmentId", deptDom.value);
            formdata.append("phoneNo", phoneNoDom.value);
            formdata.append("email", emailIdDom.value);
            formdata.append("native", nativeDom.value);


            const requestOptions = {
                method: "POST",
                headers: myHeaders,
                body: formdata,
                redirect: "follow"
            };
            document.getElementById('spinner').style.display = 'block';
            fetch(`${mainUrl}/api/student`, requestOptions)
                .then(async (response) => {
                    if (response.status == 200) {
                        document.getElementById('spinner').style.display = 'none';
                        window.location.href = `${mainUrl}/sh/admin/student`
                    } else {
                        document.getElementById('spinner').style.display = 'none';
                        error.style.display = 'block'
                        if (response.status === 404 || response.status < 499) {
                            error.innerHTML = 'Not founded or Client side error'
                        } else if (response.status < 500) {
                            error.innerHTML = 'Server error contact owner'
                        } else {
                            error.innerHTML = await response.text()
                        }
                    }
                });
        }
    </script>

</body>

</html>