<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
        <style>
            .no-border-button {
                border: none;
                background: none;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 16px;
                color: #333;
            }

            .border-none {
                border: none;
                background: none;
                text-decoration: none;
                color: inherit;
            }

            .bc {
                font-size: larger;
            }
        </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <%- include('../../partials/header') %>
    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <%- include('../../partials/asideBar') %>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="container py-3">
            <h5 class="mb-2 fw-bold text-primary">Assitant Directors</h5>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id="breadcrumbOl">
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-2">
                    <h5 class="card-title">Assistant Directors</h5>
                    <a class="btn btn-primary" style="align-content: center;" href="/sh/admin/addad">Add AD`s</a>
                </div>
                <!-- Table with stripped rows -->
                <div class="pt-5">
                    <div class="alert alert-danger" id="error">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">User ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email ID</th>
                                <th scope="col">IsAdmin</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(userData.length> 0) { %>
                                <% for(var i=0; i < userData.length;i++) { %>
                                    <tr>
                                        <td>
                                            <%=userData[i].userId %>
                                        </td>
                                        <td>
                                            <%= userData[i].firstName.charAt(0).toUpperCase() +
                                                userData[i].firstName.slice(1).toLowerCase() %>
                                        </td>
                                        <td>
                                            <%= userData[i].lastName.charAt(0).toUpperCase() +
                                                userData[i].lastName.slice(1).toLowerCase() %>
                                        </td>
                                        <td>
                                            <%=userData[i].phoneNo %>
                                        </td>
                                        <td>
                                            <%=userData[i].email %>
                                        </td>
                                        <td>
                                            <%=userData[i].isAdmin==1 ? 'YES' : 'NO' %>
                                        </td>
                                        <td>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a class="border-none"
                                                                href="/sh/admin/editad/<%=userData[i].id %>">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <button class="no-border-button"
                                                                onclick="deleteuser('<%=userData[i].id %>')">
                                                                <i class="fas fa-trash" style="color: red;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    </tr>
                                    <%} %>
                                        <% }else { %>
                                            <tr>
                                                <td colspan="7" class="text-center text-secondary">No Assistant
                                                    Directors</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    <div class="card-body">
                        <!-- Disabled and active states -->
                        <nav aria-label="...">
                            <div class="h-25 d-inline-block"></div>
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item <% if(currentPage == 1) { %> disabled <% } %>">
                                    <a class="page-link" href="/sh/admin/asstdir?page=<%=currentPage - 1  %>"
                                        tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <% for(var i=1;i <=pagesTotal;i++) { %>
                                    <li class="page-item  <% if(currentPage == i ) { %> active <% } %>"><a
                                            class="page-link" href="/sh/admin/asstdir?page=<%=i %>">
                                            <%=i %>
                                        </a></li>

                                    <%} %>
                                        <li class="page-item <% if(currentPage == pagesTotal ) { %> disabled <% } %>">
                                            <a class="page-link"
                                                href="/sh/admin/asstdir?page=<%= currentPage + 1 %>">Next</a>
                                        </li>
                            </ul>
                        </nav><!-- End Disabled and active states -->
                    </div>
                </div>
            </div>
        </div>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <%- include ('../../partials/footer') %>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

    <script>
        const path = window.location.pathname;
        const mainUrl = '<%= mainUrl %>'
        const breadcrumbItems = path.split('/').slice(2)

        const error = document.getElementById('error')
        error.style.display = 'none'

        var blockCode = ``
        let itemName
        breadcrumbItems.forEach((item) => {
            if (item === 'admin') {
                item = 'home'
                blockCode += `<li class="breadcrumb-item bc fw-bold d-flex"><a href="/sh/${item}">${item}</a></li> `
            } else {
                item === 'asstdir' ? itemName = 'Assitant Directors' : itemName = item
                blockCode += `<li class="breadcrumb-item bc fw-bold d-flex"><a href='/sh/admin/${item}'>${itemName}</a></li> `
            }
        })
        document.getElementById('breadcrumbOl').innerHTML = blockCode
        function deleteuser(id) {

            if (confirm('Are your sure to delete user')) {
                const requestOptions = {
                    method: "DELETE",
                    redirect: "follow"
                };

                let request = fetch(`${mainUrl}/api/user/${id}`, requestOptions)
                request.then(async (response) => {
                    if (response.status == 200) {
                        location.reload()
                    } else {
                        error.style.display = 'block'
                        if (response.status === 404 || response.status < 499) {
                            error.innerHTML = 'Not founded or Client side error'
                        } else if (response.status < 500) {
                            error.innerHTML = 'Server error contact owner'
                        } else {
                            error.innerHTML = await response.text()
                        }
                    }
                });
            }
        }        
    </script>
</body>

</html>