<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head') %>
    <style>
      .mt-n1 {
        margin-top: 5.25rem !important;
      }

      .px-2 {
        margin: 1.25rem !important;
      }
    </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <%- include('../../partials/header') %>
      <style>
        .bc {
          font-size: larger;
        }
      </style>
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <%- include('../../partials/asideBar') %>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="container py-3">
      <h5 class="fw-bold text-primary">Attendance</h5>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumbOl">
        </ol>
      </nav>
    </div>
    <div class="container">
      <div class="container-fluid">
        <h5>Blocks :</h5>
        <div class="row">
          <% for(var i=0; i < data.length;i++) { %>
            <div class="col btn btn-light w-100 px-2" style="background-color: rgb(223, 240, 246);">
              <a href="/sh/attendance/rooms/<%= data[i].id %>">
                <%=data[i].name %>
              </a>
            </div>
            <% } %>
        </div>
      </div>

    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <%- include('../../partials/footer') %>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <script>
    const path = window.location.pathname;
    const mainUrl = '<%= mainUrl %>'
    const breadcrumbItems = path.split('/').slice(2)
    var blockCode = ``
    let itemName
    breadcrumbItems.forEach((item) => {
      if (item === 'attendance') {
        blockCode += `<li class="breadcrumb-item bc fw-bold d-flex"><a href=/sh/home>${item}</a></li> `
      } else {
        blockCode += `<li class="breadcrumb-item bc fw-bold d-flex"><a href=/sh/attendance/${item}>${item}</a></li> `
      }
    })
    document.getElementById('breadcrumbOl').innerHTML = blockCode
  </script>

</body>

</html>